<!-- Including the preset html file -->
{% extends "home_preset.html" %}
<!-- Including the preset html file end -->

<!-- Block content Overwrite -->
{% block content %}

<!-- Link to custom JavaScript -->
<script defer src="{{ url_for('static', filename='js/home.js') }}"></script>
<!-- Link to custom JavaScript end -->

<!-- Link to custom CSS -->
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/home.css') }}"
/>
<!-- Link to custom CSS end -->

<!-- Stores Feed Container -->
<main role="main">
  <div class="album">
    <div class="container-fluid">
      <div class="row">
        <!-- Looping over posts -->
        {% for post in posts %}

        <div class="col-md-4">
          <div class="card box-shadow">
            <!-- Displaying Post author -->
            <div
              class="d-flex justify-content-between align-items-center"
              style="position: relative; top: -12px; left: -15px"
            >
              <a
                href="{{ url_for('dashboard', username=post.author.username) }}"
                class="nav-link"
                style="width: fit-content"
              >
                <img
                  src="{{ url_for('static', filename='img/profile_pic/' + post.author.profile_pic) }}"
                  class="img-fluid"
                  alt="Profile Picture"
                  style="border: 1px solid grey; border-radius: 50%"
                />
                <small
                  style="
                    color: #1890ff;
                    font-weight: 700;
                    font-size: 1.3rem;
                    letter-spacing: 1px;
                  "
                  class="pl-5"
                  >{{post.author.username}}</small
                >
              </a>
              <div id="bcon">
                {% if current_user.is_authenticated %} {% if
                current_user.has_bookmarked_story(post) %}
                <i
                  id="collections-id"
                  data-storyid="{{ post.id }}"
                  class="fa fa-bookmark clicked"
                ></i>

                {% else %}
                <i
                  id="collections-id"
                  data-storyid="{{ post.id }}"
                  class="fa fa-bookmark"
                ></i>
                {% endif %} {% else %}
                <i
                  id="collections-id"
                  data-storyid="{{ post.id }}"
                  class="fa fa-bookmark"
                ></i>
                {% endif %}
              </div>
            </div>
            <!-- Displaying Post author end -->

            <!-- Rendering post image -->
            <div style="height: 170px">
              <img
                width="100%"
                height="100%"
                style="object-fit: cover"
                class="card-img-top"
                src="{{ url_for('static', filename='img/story_image/' + post.story_image) }}"
                alt="Image
            load Failed"
              />
            </div>

            <!-- Rendering post image end -->
            <div class="card-body">
              <p class="font-size-16 post-title">{{ post.title }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div id="lcon">
                  {% if current_user.is_authenticated %} {% if
                  current_user.has_liked_story(post) %}
                  <i
                    id="story-id"
                    data-storyid="{{ post.id }}"
                    class="fa fa-heart clicked"
                  ></i>
                  {% else %}
                  <i
                    id="story-id"
                    data-storyid="{{ post.id }}"
                    class="fa fa-heart"
                  ></i>
                  {% endif %} {% else %}
                  <i
                    id="story-id"
                    data-storyid="{{ post.id }}"
                    class="fa fa-heart"
                  ></i>
                  {% endif %}

                  <span class="lspan">{{ post.likes.count() }}</span>
                </div>

                <div class="btn-group">
                  <div class="btn-group">
                    <a
                      type="button"
                      class="btn btn-sm btn-outline-secondary"
                      href="{{ url_for('story', id=post.id, title='-'.join(story.query.get(post.id).title.split(' '))) }}"
                    >
                      Read
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        {% endfor %}
        <!-- Looping over posts end-->
      </div>
    </div>
  </div>
</main>
<!-- Stores Feed Container end -->

<!-- custom javascript -->
<script>
  // getting elements from the DOM
  const likes = document.querySelectorAll('#lcon');
  const collections = document.querySelectorAll('#bcon');
  // Getting elements from the DOM end

  // lopping through each collections icon
  collections.forEach((collection) => {
    const cid = collection.querySelector('#collections-id');
    cid.addEventListener('click', function () {
      if ('{{ current_user.is_authenticated }}' == 'True') {
        if (cid.classList == 'fa fa-bookmark clicked') {
          // calling API to update collections
          async function modCollections() {
            res = await fetch(`/collections/${cid.dataset.storyid}/remove`);
            data = await res.json();
            console.log(data, res.status);

            if (data.message == 'success') {
              cid.classList.toggle('clicked');
              halfmoon.initStickyAlert({
                content: 'Successfully removed from your collections',
                alertType: 'alert-success',
                fillType: 'filled-lm',
              });
            }
          }
          modCollections();
        } else {
          // calling API to update collections
          async function modCollections() {
            res = await fetch(`/collections/${cid.dataset.storyid}/add`);
            data = await res.json();
            console.log(data, res.status);

            if (data.message == 'success') {
              cid.classList.toggle('clicked');

              halfmoon.initStickyAlert({
                content: 'Successfully added to your collections',
                alertType: 'alert-success',
                fillType: 'filled-lm',
              });
            }
          }
          modCollections();
        }
      } else {
        window.location.href = '#modal-2';
      }
    });
  });
  // lopping through each collections icon end

  // lopping through each thumps_up icon
  likes.forEach((like) => {
    //getting story-id element
    const lid = like.querySelector('#story-id');
    // adding click event to each thumb_up icon
    lid.addEventListener('click', function () {
      function loginStatus(status) {
        if (status == 'True') {
          if (lid.classList == 'fa fa-heart clicked') {
            // calling API to update number of likes
            async function addLikes() {
              res = await fetch(`/stories/like/${lid.dataset.storyid}/unlike`);
              data = await res.json();
              console.log(data, res.status);

              if (data.status == 'success') {
                like.querySelector('.lspan').innerText = data.count;
                lid.classList.toggle('clicked');
              }
            }
            addLikes();
          } else {
            // calling API to update number of likes
            async function addLikes() {
              res = await fetch(`/stories/like/${lid.dataset.storyid}/like`);
              data = await res.json();
              console.log(data, res.status);

              if (data.status == 'success') {
                like.querySelector('.lspan').innerText = data.count;
                lid.classList.toggle('clicked');
              }
            }
            addLikes();
          }
        } else {
          window.location.href = '#modal-2';
        }
      }
      loginStatus('{{ current_user.is_authenticated }}');
    });
  });
  // adding click event to each thumb_up icon end
  // lopping through each thumps_up icon end

  //controlling login through modal
  const submit = document.getElementById('submit');
  const email = document.getElementById('email');
  const password = document.getElementById('password');
  const remember_me = document.getElementById('remember_me');
  const em = document.querySelector('#em');
  const pass = document.querySelector('#pass');
  submit.addEventListener('click', loginUser);

  async function loginUser() {
    event.preventDefault();
    submit.innerHTML = '<i class="fa fa-spinner fa-spin"></i> Signing In';

    if (email.value && password.value) {
      em.innerText = '';
      pass.innerText = '';
      InitiateLogin();
    } else if (!email.value && !password.value) {
      em.innerText = "Email Can't Be Empty";
      pass.innerText = "Password Can't Be Empty";
      submit.innerText = `Sign In`;
    } else if (!email.value) {
      em.innerText = "Email Can't Be Empty";
      pass.innerText = '';
      submit.innerText = `Sign In`;
    } else if (!password.value) {
      em.innerText = '';
      pass.innerText = "Password Can't Be Empty";
      submit.innerText = `Sign In`;
    }

    async function InitiateLogin() {
      res = await fetch('\signin', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({
          email: email.value,
          password: password.value,
          remember_me: remember_me.checked,
        }),
      });

      response = await res.json();
      if (response.message == 'Login Successful') {
        [goto, _] = window.location.href.split('#modal-2');
        window.location.href = goto;
      } else if (response.message == 'Invalid Password') {
        em.innerText = '';
        pass.innerText = 'Check Details and Try Again';
        submit.innerText = `Sign In`;
      } else {
        em.innerText = 'Check Details and Try Again';
        pass.innerText = 'Check Details and Try Again';
        submit.innerText = `Sign In`;
      }
    }
  }
</script>

{% endblock content %}
<!-- Block content Overwrite end -->
