<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- block for meta data -->
    {% block head %} {% endblock head %}
    <!-- block for meta data -->

    <!-- This will be fired if javascript is disabled in the client's browser-->
    <noscript>
      <style type="text/css">
        div#page-wrapper {
          display: none !important;
          visibility: hidden !important;
        }
      </style>

      <div>
        You currently have JavaScript disabled. This App requires JavaScript.<br />
        Enable JavaScript in Your Browser to Continue Telling your Story!
      </div>
    </noscript>

    <!-- Halfmoon CSS -->
    <!-- <link
      href="https://cdn.jsdelivr.net/gh/halfmoonui/halfmoon@1.0.3/css/halfmoon.min.css"
      rel="stylesheet"
    /> -->
    <link
      href=" {{ url_for('static', filename='css/halfmoon-1.0.4/css/halfmoon.min.css') }} "
      rel="stylesheet"
    />

    <!-- Custom CSS -->

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/preset.css') }}"
    />

    <!-- Custom JS -->

    <script
      defer
      src="{{ url_for('static', filename='js/preset.js') }}"
    ></script>

    <!-- Font awesome -->

    <!-- <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0="
      crossorigin="anonymous"
    /> -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/fontawesome-free-5.12.0-web/css/all.min.css') }}"
    />

    <!-- Roboto font (Used when Apple system fonts are not available) -->
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />

    <!-- Favicon and Title -->
    <link
      rel="icon"
      href="{{ url_for('static', filename='img/halfmoon-icon.png') }}"
    />

    {% if title %}

    <title>{{ title }}</title>

    {% else %}

    <title>Fun College Stories | Stories Feed</title>

    {% endif %}
  </head>

  <body
    class="dark-mode with-custom-webkit-scrollbars with-custom-css-scrollbars"
    data-sidebar-shortcut-enabled="true"
    data-dm-shortcut-enabled="true"
  >
    <!-- Page wrapper start -->
    <div id="page-wrapper" class="page-wrapper with-navbar">
      <!-- rendering sticky alerts start -->
      <div class="sticky-alerts">
        <!-- Collecting flashed messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}

        <!-- checking if there are flashed messages -->
        {% if messages %}
        <!-- Looping thorugh the flashed messages -->
        {% for category,message in messages %}

        <!-- Rending the gotten message -->
        <script>
          window.onload = function () {
            halfmoon.toastAlert('precompiled-alert-1', 4000);
          };
        </script>

        <div
          id="precompiled-alert-1"
          class="alert alert-{{ category }} filled-lm"
        >
          <button
            class="close"
            data-dismiss="alert"
            type="button"
            aria-label="Close"
          >
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="alert-heading">{{ message }}</h4>
        </div>
        <!-- Rending the gotten message end -->
        {% endfor %}
        <!-- Looping thorugh the flashed messages end -->
        {% endif %}
        <!-- checking if there are flashed messages end -->

        {% endwith %}
        <!-- Collecting flashed messages end -->
      </div>
      <!-- rendering sticky alerts end -->

      <!-- Navbar start -->
      <nav class="navbar">
        <a href="{{ url_for('home') }}" class="navbar-brand ml-10 ml-sm-15">
          FCS
        </a>
        <ul class="navbar-nav hidden-sm-and-down">
          <li class="nav-item">
            <a href="{{ url_for('home') }}" class="nav-link">Stories Feed</a>
          </li>

          <!-- Changing nav item based on user session (show {logout} if user is {signed in}) -->
          {% if current_user.is_authenticated %}

          <li class="nav-item">
            <a href="{{ url_for('collections') }}" class="nav-link"
              >Collections</a
            >
          </li>
          <li class="nav-item active">
            <a href="{{ url_for('logout') }}" class="nav-link">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a href="{{ url_for('about') }}" class="nav-link">About</a>
          </li>

          <li class="nav-item active">
            <a href="{{ url_for('register') }}" class="nav-link">Sign Up</a>
          </li>
          {% endif %}
        </ul>
        <!-- Changing nav item based on user session (show {logout} if user is {signed in}) end -->

        <div class="navbar-content ml-auto">
          {% if current_user.is_authenticated %}
          <div class="navbar-content ml-auto">
            <!-- Create New Story -->
            <a
              data-toggle="tooltip"
              data-title="New Story"
              data-placement="left"
              href="{{ url_for('new_story') }}"
              style="padding-right: 0.3rem"
              class="nav-link"
            >
              <i
                class="fa fa-pen"
                aria-hidden="true"
                style="font-size: 18px"
              ></i>
            </a>
            <!-- Create New Story End-->
            <!-- Message icon -->
            <a
              href="{{ url_for('new_story') }}"
              style="padding-right: 0.3rem"
              class="nav-link"
            >
              <span
                class="badge badge-primary badge-pill"
                style="margin-right: 4px"
                >6</span
              >
              <i
                class="fa fa-envelope"
                aria-hidden="true"
                style="font-size: 18px"
              ></i>
            </a>
            <!-- message icon end -->
            {% endif %}

            <!-- Search Icon -->
            <a id="search" class="nav-link">
              <i
                class="fa fa-search"
                aria-hidden="true"
                style="font-size: 18px"
              ></i>
            </a>
            <!-- Search Icon End -->

            <!-- Dark Mode Toggler -->
            <div class="custom-switch">
              <input
                type="checkbox"
                id="switch-2"
                value=""
                checked="checked"
                aria-label="Toggle dark mode"
              />
              <label for="switch-2" class="mr-5"></label>
            </div>
          </div>
          <!-- Dark Mode Toggler End -->

          <!-- Changing nav item based on user session (show {logout} if user is {signed in}) -->
          {% if current_user.is_authenticated %}
          <a
            href="{{ url_for('dashboard', username=current_user.username) }}"
            class="hidden-sm-and-down"
            role="button"
          >
            <img
              src="{{ url_for('static', filename='img/profile_pic/' + current_user.profile_pic) }}"
              class="nav-icon"
              alt="Profile Picture"
              style="border: 1px solid grey; border-radius: 50%"
            />
          </a>
          {% else %}
          <a
            href="{{ url_for('login') }}"
            class="btn btn-primary hidden-sm-and-down"
            role="button"
          >
            Sign In
          </a>
          {% endif %}
          <!-- Changing nav item based on user session (show {logout} if user is {signed in}) end -->

          <!-- Dropdown Menu -->

          <div class="dropdown with-arrow hidden-md-and-up">
            <!-- Adding user profile picture as menu icon is logged in -->
            {% if current_user.is_authenticated %}
            <div
              data-toggle="dropdown"
              type="button"
              id="navbar-dropdown-toggle-btn"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <img
                src="{{ url_for('static', filename='img/profile_pic/' + current_user.profile_pic) }}"
                class="nav-icon"
                alt="Profile Picture"
                style="border: 1px solid grey; border-radius: 50%"
              />
            </div>
            {% else %}

            <button
              class="btn"
              data-toggle="dropdown"
              type="button"
              style="width: 70px"
              id="navbar-dropdown-toggle-btn-1"
            >
              Menu
              <i class="fa fa-angle-down" aria-hidden="true"></i>
            </button>
            {% endif %}
            <!-- Adding user profile picture as menu icon is logged in end -->

            <div
              class="dropdown-menu dropdown-menu-right"
              aria-labelledby="navbar-dropdown-toggle-btn"
            >
              <a href="/" class="dropdown-item">Stories Feed</a>

              <!-- Changing nav item based on user session (show {logout} if user is {signed in}) -->
              {% if current_user.is_authenticated %}
              <a href="{{ url_for('collections') }}" class="dropdown-item"
                >Collections</a
              >
              <a
                href="{{ url_for('logout') }}"
                style="color: blue"
                class="dropdown-item"
                >Logout</a
              >
              <div class="dropdown-divider"></div>

              <div class="dropdown-content">
                <a
                  href="{{ url_for('dashboard', username=current_user.username) }}"
                  class="btn btn-primary btn-block"
                  role="button"
                >
                  <span class="ml-5">Dashboard</span>
                </a>
              </div>
              {% else %}
              <a href="{{ url_for('about') }}" class="dropdown-item">About</a>

              <a
                href="{{ url_for('register') }}"
                style="color: blue"
                class="dropdown-item"
                >Sign Up</a
              >
              <div class="dropdown-divider"></div>
              <div class="dropdown-content">
                <a
                  href="{{ url_for('login') }}"
                  class="btn btn-primary btn-block"
                  role="button"
                >
                  <span class="ml-5">Sign In</span>
                </a>
              </div>
              {% endif %}
              <!-- Changing nav item based on user session (show {logout} if user is {signed in}) end -->
            </div>
          </div>

          <!-- Dropdown Menu End -->
        </div>
      </nav>
      <!-- Navbar end -->

      <div class="content-wrapper" style="top: 5rem">
        <div style="margin-bottom: 5rem">
          <!-- Rending content to be overwritten -->
          {% block content %} {% endblock content %}
          <!-- Rending content to be overwritten end -->
        </div>

        <!-- page footer -->

        <nav
          class="navbar navbar-fixed-bottom"
          style="position: fixed; bottom: 0"
        >
          <a
            style="margin-left: 0.5rem !important"
            href="{{ url_for('home') }}"
            class="navbar-brand ml-10 ml-sm-15"
          >
            FCS
          </a>

          <div class="navbar-content ml-auto">
            <div class="navbar-content ml-auto">
              <a
                href="{{ url_for('about') }}"
                style="margin-right: 0.5rem"
                class="nav-link"
              >
                About
              </a>

              <a
                href="https://twitter.com/samperfectinc"
                style="padding: 0"
                class="nav-link"
                target="_blank"
              >
                <span style="padding-right: 5px"> Made with</span>
                <i
                  class="fa fa-heart"
                  aria-hidden="true"
                  style="font-size: 18px"
                ></i>
                <span style="padding-left: 5px; padding-right: 5px">by</span>
                <i
                  class="fab fa-twitter"
                  aria-hidden="true"
                  style="font-size: 18px"
                ></i>
                <span style="padding-left: 5px"><b> Samperfect</b></span>
              </a>
            </div>
          </div>
        </nav>
        <!-- page footer end -->
      </div>
    </div>

    <!-- Halfmoon JS -->
    <!-- <script src="https://cdn.jsdelivr.net/gh/halfmoonui/halfmoon@1.0.3/js/halfmoon.min.js"></script> -->

    <script src="{{ url_for('static', filename='js/halfmoon-1.0.4/js/halfmoon.min.js') }}"></script>
  </body>
</html>
