main {
    margin-left: 10%;
    margin-right: 10%;
}

@media (max-width: 460px) {
    .info_con {
        margin-left: 2rem !important;
    }
 
}

.flex-column {
    padding-left: 20px !important;
}
.navbar-fixed-bottom{
    z-index: 10000;
}



@media (max-width: 504px) {
    main {
        margin-left: 0;
        margin-right: 0;
    }

    img {
        height: 230px !important;
    }


    .flex-row {
        width: 160px !important;
        left: 28%;
        top: 4px !important;
    }

    .stories-count,
    .likes-count {
        font-size: 1.2rem !important;
    }

    .stories,
    .likes {
        font-size: 1.2rem !important;
    }

    .flex-column {
        padding-left: 10px !important;
    }

    .username {
        left: 28% !important;
        font-size: 19px !important;
        top: -30px !important;
    }

    .profile-picture {
        width: 70px !important;
        height: 70px !important;
       
    }

    .justify-content-between {

        flex-direction: column !important;
    }

    .w-300 {
        width: auto !important;
    }

    .ca.w-300 {
        width: auto !important;
        position: relative !important;
    }

    .font-size-16 {
        height: 70px !important;
    }

    .edit {
        position: relative !important;
        right: 18px !important;
        top: 275px !important;
    }
    .info_con {
        margin-left: 8rem !important;
    }


}

.ca.w-300 {
    position: sticky;
    top: 2rem;
}

.align-items-center {

    justify-content: space-between !important;
}


@media (max-width: 650px) and (min-width: 505px) {
    .w-300 {
        width: 24rem !important;
    }

}

@media (min-width: 1100px) {
    .w-300 {
        width: 35rem !important;
    }

}

@media (max-width: 760px) and (min-width: 651px) {
    .w-300 {
        width: 28rem !important;
    }
}


@media (max-width: 610px) {
    .like {
        display: none !important;
    }

    .stories {
        display: none !important;
    }
}


@media (max-width: 949px) and (min-width: 460px) {
    .username {
        left: 170px !important;
        font-size: 25px !important;
        top: -38px !important;
    }

 
    main {
        margin-left: 0;
        margin-right: 0;
    }

    img {
        height: 230px !important;
    }

    .flex-row {
        width: 230px !important;
        left: 28%;
        top: 4px !important;
        left: 22%;
        top: -15px !important;

    }

    .stories-count,
    .likes-count {
        font-size: 1.5rem !important;
    }

    .stories,
    .likes {
        font-size: 1.2rem !important;
    }


    .profile-picture {

        width: 100px !important;
        height: 100px !important;
        
    }

    .font-size-16 {
        height: 50px !important;
    }

    .info_con {
        margin-left: 13rem;
    }

}

.username {
    position: relative;
    left: 24%;
    background: transparent;
    top: -40px;
    display: inline;
    height: fit-content;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 25px;
    font-weight: 900;
    color: white !important;
     -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1.2px;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-weight: 500;

}

@media (max-width: 370px) {

    .info_con {
        margin-left: 0rem !important;
    }
    .username{
        padding-left: 1rem !important;
    }
}


.edit {
    position: absolute;
    right: 25px;
    top: 275px;
}

.info_con{
    margin-left: 13rem;
}

.profile-picture {
    border-radius: 50% !important;
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 4rem;
    left: 1rem;
    border: 2px solid white;

}

.card{
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

}



.flex-row {

    width: 300px;
    position: relative;
    left: 22%;
    top: -20px;

}

.stories-count,
.likes-count {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.0rem;
    font-weight: bold;
}


.img-con img {
    height: 230px !important;
}

.fa-heart,
.fa-bookmark {
    font-size: 15px;
    cursor: pointer !important;
}
.clicked {
    color: red !important;
}

.following{
    font-weight: inherit;
}