<!-- Including the preset html file -->
{% extends "preset.html" %}
<!-- Including the preset html file end -->

<!-- Block content Overwrite -->
{% block content %}

<!-- Link to custom CSS -->
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/login.css') }}"
/>
<!-- Link to custom CSS end -->

<div class="container">
  <div class="content-section">
    <!-- Rendering Sign In Form  -->
    <form action="" method="POST" class="form-signin">
      {{form.hidden_tag()}}

      <fieldset class="form-group">
        <h1 class="h3 mb-2 font-weight-normal border-bottom">Sign In</h1>

        <div class="form-group">
          {{form.email.label(class="form-control-label")}} {%if
          form.email.errors %} {{form.email(class="form-control is-invalid")}}
          <div class="invalid-feedback">
            {% for error in form.email.errors %}
            <small>{{ error }}</small>
            {% endfor %}
          </div>
          {% else %} {{form.email(class="form-control")}} {% endif %}
        </div>
        <div class="form-group">
          {{form.password.label(class="form-control-label")}}
          {{form.password(class="form-control")}}
        </div>
        <div class="custom-checkbox mb-20">
          {{form.remember_me(class="form-check-input")}}
          {{form.remember_me.label(class="form-check-label")}}
        </div>
        <div class="form-group">
          {{form.submit(class="btn btn-lg btn-primary btn-block")}}
        </div>
        <p class="text-muted text-center">
          <a href="{{ url_for('register') }}">Forgot Password?</a>
        </p>

        <!-- Redirecting to Sign Up page for new users -->
        <div class="form-group">
          <p class="text-muted text-center">
            Don't Have an Account?
            <a href="{{ url_for('register') }}">Sign Up Here</a>
          </p>
        </div>
        <!-- Redirecting to Sign In page for exsiting users end-->

        <!-- Copyrights Section -->
        <p class="text-center">&copy; {{current_year}}</p>
        <!-- Copyrights Section end -->
      </fieldset>
    </form>

    <!-- Rendering Sign In Form End -->
  </div>
</div>

{% endblock content %}
<!-- Block content Overwrite end -->
